<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>
<div class="flex justify-end pe-2">
  <%= link_to "New recipe", new_recipe_path, class:'w-1/6 px-6 py-2.5 bg-gray-800 text-white
    font-medium text-center text-2xs leading-tight uppercase rounded shadow-md
    hover:bg-blue-700 hover:bg-gray-900 hover:shadow-lg focus:bg-gray-900 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg transition duration-150 ease-in-out' %>
</div>
<div id="recipes">
  <% @recipes.each do |recipe| %>
    <% if can? :read, recipe %>
      <%= render recipe %>
      <p class="flex justify-center pe-2">
        <%= link_to "Show this recipe", recipe, class:'w-1/8 px-6 py-2.5 bg-gray-800 text-white
    font-medium text-center text-2xs leading-tight uppercase rounded shadow-md
    hover:bg-blue-700 hover:bg-gray-900 hover:shadow-lg focus:bg-gray-900 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg transition duration-150 ease-in-out' %>
      </p>
    <% end %>
  <% end %>
</div>